:root {
  --fundo1: #000000;
  --fundo2: #C1DCC4;
  --contraste: #00FF1E;
  --texto: #ffffff;
  --fundoBtn: #000000;
  --fundoBtnHover: #19A029;
  --borda: #000000;
  --bordax: #64FF76;
  --diferenciadorE: #00000020;
  --diferenciadorC: #ffffff20;
  --superContraste: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo1: #000000;
    --fundo2: #C1DCC4;
    --contraste: #00FF1E;
    --texto: #ffffff;
    --fundoBtn: #000000;
    --fundoBtnHover: #19A029;
    --borda: #000000;
    --bordax: #64FF76;
    --diferenciadorE: #00000020;
    --diferenciadorC: #ffffff20;
    --superContraste: #ff0000;
  }
}

header {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 10dvh;
  justify-content: end;
  width: 100dvw;
  background-color: var(--fundo1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  color: var(--texto);
  background: var(--fundo2);
  font-family: Roboto Slab;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

.body::-webkit-scrollbar {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  height: 30dvh;
  width: 100dvw;
  background-color: var(--fundo1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}